/* AdminDashboard Styles */
.admin-dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;
  }

  /* Top Section */
.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
.top-section > .card {
    flex-basis: calc(20% - 0px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  .card i {
    font-size: 24px;
    margin-right: 10px;
  }
  
.card-content p {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
  }
  
.card-content h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Middle Section */
.middle-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
.middle-section h2 {
    font-size: 30px;
    color: #333;
  }
  
.middle-section .line {
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 50%;
  }
  
  /* Bottom Section */
.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  
.bottom-section > .card {
    flex-basis: calc(15% - 0px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.card-content p {
    font-size: 30px;
    color: #777;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
.card-content h2 {
    font-size: 40px;
    color: #333;
  }
  
.container {
    display: flex;
    flex-grow: 1; /* Allow content to grow to fill remaining space */
}