.employee-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 50px;
    background-color: #fff;
  }

.employee-list {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between; /* Distribute space between cards */
}
  
  .employee-icon {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 30px;
    margin-left: 10px;
  }
  
  .employee-details {
    flex: 1;
  }
  