.header {
    background-color: #009688;
    color: #fff;
    padding: 30px;
    text-align: center;
    z-index: 1000;
    height: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
  }

.user-info {
    margin-left: auto; /* Pushes user info to the right */
  }