/* Style links in the navbar */
.navbar a {
    display: block;
    padding: 30px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
  }
  
  /* Style active link 
.navbar a.active {
    background-color: #777;
  }
*/

.navbar {
    width: 15%;
    background-color: #222D32;
    padding: 20px;

  }