.section {
        width: 85%;
        background-color:#F5F5F5;
        padding: 20px;
        box-sizing: border-box;
        height: 100%;
        float: right;
        height: 100vh;

        font: 100;
}